<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lintzuhsiu.tools" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--activity android:name="com.lintzuhsiu.tools.examples.SampleList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lintzuhsiu.tools.examples.viewpager.ViewPagerSlidingStripTester"
            android:label="@string/title_activity_pager_sliding_strip_tester"
            android:parentActivityName="com.lintzuhsiu.tools.examples.SampleList">
        </activity>

        <activity
            android:name="com.lintzuhsiu.tools.examples.listview.ListViewTester"
            android:label="@string/title_activity_listview"
            android:parentActivityName="com.lintzuhsiu.tools.examples.SampleList">
        </activity>


        <activity
            android:name="com.lintzuhsiu.tools.examples.rounderview.TestRounderViewActivity"
            android:label="@string/title_activity_listview">
        </activity-->

    </application>

</manifest>
